@font-face {
    font-family: "MondaReg";
    src: url(./font/Monda-Regular.ttf);
}

@font-face {
    font-family: "MondaBold";
    src: url(./font/Monda-Bold.ttf);
}

body
{
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
    background-image: url(./images/fond.png);
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50%;
}
/* ----------------------------------STYLE HEADER DEBUT------------------------------ */
header
{
    width: 100%;
    height: 10vh;
    background-color: #000000;
    color: #e5e5e5;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: "MondaReg" ;
    position: fixed;
    z-index: 1000;
    border: 1px solid #2e2d2d;
    box-shadow: 2px 2px 5px rgb(49, 46, 46);
      -moz-box-shadow: 2px 2px 5px #2e2d2d;
      -webkit-box-shadow: 2px 2px 5px #2e2d2d;
      -khtml-box-shadow: 2px 2px 5px #2e2d2d;
    
}

header div
{
    display: flex;
    height: 100%;
    width: 35%;
    align-items: center;
    justify-content: flex-start;
}

header ul
{
    display: flex;
    height: auto;
    width: 50%;
    align-items: center;
    justify-content: space-around;
}

#logo
{
    height: 80%;
    margin-left: 2vw;
}

h1{
    font-size: 2.5rem;
    margin-left: 1vw;
}

header ul li
{
    list-style: none;
    width: 33.3333333333333%;
    display: flex;
    align-items: center;
    justify-content: center;
}

header ul li a
{
    text-decoration: none;
    font-size: 1.2rem;
    color: #e5e5e5;
    text-align: center;
}

header ul li a:after {
    bottom: 0;
    content: "";
    display: block;
    height: 2px;
    background: linear-gradient(90deg, #EF5DA8, #5D5DEF);
    margin-left: 50%;
    transition: 0.5s;
    width: 0;
  }
  header ul li a:hover:after { 
    width: 100%;
    margin-left: 0%;
  }

#there
{
    background: linear-gradient(90deg, #EF5DA8, #5D5DEF);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transform: 1sec;
}

#search, #errorB, #about
{
    margin-top: 10vh;
}

#big
{
    margin-top: 12.5vh;
}

header ul li a:hover
{
    cursor: pointer;
}

/* ----------------------------------STYLE HEADER FIN------------------------------ */



/* ----------------------------------STYLE CONTENU DEBUT------------------------------ */

/* -----------------------------ACCEUIL------------------ */

/* ---------SECTION GRANDE AFFICHE--------- */
#big
{
    width: 95%;
    height: 55vh;
    display: flex;
    font-family: "MondaReg";
    color: #e5e5e5;
    transition: 2s;
}

#big img
{
    width: auto;
    height: 100%;
    border-radius: 5px;
}

#big div:nth-child(1)
{
    width: 35%;
    display: flex;
    justify-content: center;
}

#big div:nth-child(2)
{
    width: 65%;
    display: flex;
    flex-direction: column;
}

#big p
{
    margin: 0;
}

#big h2
{
    margin: 0;
    justify-self: flex-start;
    font-size: 2rem;
    align-self: center;
    text-align: center;
    /* background: linear-gradient(90deg, #EF5DA8, #5D5DEF); */
    /* -webkit-background-clip: text; */
    /* -webkit-text-fill-color: transparent; */
    color: aliceblue;
    text-shadow: 1px 1px 1px rgb(100, 14, 170);
}

#big h3
{
    margin: 0;
    color: #EF5DA8;
}

#big .syn
{
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
   -webkit-line-clamp: 2;
   -webkit-box-orient: vertical;
    width: 75%;
}

#big button
{
    margin-top: 20px;
    width: 20%;
    text-align: center;
    background: #000000;
    transform: scale(1);
    transition: 0.75s;
    border: 2px solid;
    border-image: linear-gradient(to left, #EF5DA8, #5D5DEF) 1 1 1 1;
}

#big button:hover
{
    transform: scale(1.2);
    cursor: pointer;
}

#big button p
{
    
    background: linear-gradient(90deg, #EF5DA8, #5D5DEF);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    display: flex;
    justify-content: center;
    font-family: "MondaReg";
    align-items: center;
}

#big button span
{
    font-weight: bold;
    font-size: 1.5rem;
    margin-right: 10%;
}

/* -----------CARROUSSEL-------- */

.container {
    margin-top: 5vh;
    width: 100%;
    height: 25vh;
    display: flex;
    align-items: center;
    margin-bottom: 3.5vh;
}
.slider {
    height: 100%;
    width: 95%;
    margin: 0;
    display: flex;
    font-family: "Ubuntu", sans-serif;
    text-align: center;
    color: white;
    justify-content: center;
    align-items: center;
}
.slider .slide {
    width: 25%;
    height: 100%;
    background: transparent;
    display: none;
}
.slider .slide:nth-child(1) {
    display: block;
}
.slider .slide:nth-child(2) {
    display: block;
}
.slider .slide:nth-child(3) {
    display: block;
}


.container button
{
    width: 20%;
    font-size: 5rem;
    height: 100%;
    position: relative;
    text-align: center;
    font-family: "MondaReg";
    color: #e5e5e5;
    background: transparent;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container button p
{
    background: linear-gradient(90deg, #EF5DA8, #5D5DEF);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transform: scale(1);
    transition: 0.5s;
}

.container button:hover
{
    cursor: pointer;
}

.container button:hover p
{
    transform: scale(1.5);
}

.slide img
{
    height: 100%;
    transform: scale(1);
    transition: 00.5s;
    border-radius: 5px;
}

.slide:hover img 
{
    transform: scale(1.2);
    cursor: pointer;
}

/* --------------------PAGE RECHERCHE-------------- */

input
{
    width: 80%;
    height: 5vh;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    background-color: #121212;
    color: #e5e5e5;
    outline: none;
    font-family: "MondaReg";
    text-align: center;
    position: fixed;
    z-index: 1000;
    border: none;
    transition: 0.5s;
}

input:hover
{
    background-color: #2e2d2d;
}

#listFilm
{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 15vh;
    width: 75%;
}

.listDiv
{
    margin-bottom: 30px;
    width: 95%;
    height: 25vh;
    display: flex;
    border-width: 4px;
    border-style: solid;
    border-image: linear-gradient(to left, #EF5DA8, #5D5DEF) 30;
    color: #e5e5e5;
    font-family: "MondaReg";
    transition: 0.75s;
    transform: scale(1);
    z-index: 100;
    justify-content: center;
    align-items: center;
}

.listDiv:nth-child(1)
{
    margin-top: 30px;
}

.listDiv img
{
    height: 100%;
}

.listDiv .spanSearch
{
    font-weight: 100;
    font-size: 1.5rem;
}

.listDiv div
{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.listDiv p
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 0;
    margin-bottom: 0;
    width: 100%;
    font-weight: 1000;
}

.listDiv button
{
    width: 20%;
    position: absolute;
    height: 20%;
    text-align: center;
    background: #000000;
    transform: scale(0);
    transition: 0.75s;
    border: 2px solid;
    border-image: linear-gradient(to right, #EF5DA8, #5D5DEF) 1 1 1 1;
}

.listDiv:hover button:hover
{
    transform: scale(1.2);
    cursor: pointer;
    background: #121212;
}

.listDiv:hover button
{
    transform: scale(1);
}

.listDiv button p
{
    background: linear-gradient(90deg, #EF5DA8, #5D5DEF);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    justify-content: center;
}

.listDiv button span
{
    font-weight: bold;
    font-size: 1.5rem;
}

.listDiv span
{
    margin-left: 1vw;
    margin-right: 1vw;
}

.listDiv:hover
{
    transform: scale(1.2);
}

/* --------------ERREUR RECHERCHE----------- */

#error
{
    width: 100%;
    height: 85vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: "MondaReg";
}

#error div:nth-child(1)
{
    margin-top: 4vh;
    background: #000000;
    width: 70%;
    height: 15%;
    border: 2px solid;
    border-image: linear-gradient(to right, #EF5DA8, #5D5DEF) 1 1 1 1;
}

#error h2
{
    width: 100%;
    height: 100%;
    text-align: center;
    background: linear-gradient(90deg, #EF5DA8, #5D5DEF);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#error div:nth-child(2)
{
    width: 100%;
    height: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#error div:nth-child(2) img
{
    height: 100%;
}

/* -----------------------CARD----------------- */

#card
{
    width: 100%;
    height: 90vh;
    position: absolute;
    margin-top: 10vh;
    transform: scale(0);
    transition: 1s;
    z-index: 10000;
    font-family: "MondaReg";
    color: #e5e5e5;
}

#cardContent
{
    width: 100%;
    height: 100%;
    display: flex;
}

#closeCard
{
    position: absolute;
    right: 5%;
    bottom: 5%;
    height: 10%;
    border-radius: 50px;
    background: linear-gradient(90deg, #EF5DA8, #5D5DEF);
    transform: scale(1);
    transition: 0.5s;
}

#closeCard:hover
{
    cursor: pointer;
    transform: scale(1.25);
}

#cardContent div
{
    height: 100%;
}

#cardContent img
{
    height: 100%;
}

#cardContent div:nth-child(2)
{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#cardContent div:nth-child(2) .divO
{
    display: flex;
    flex-direction: row;
    height: 80%;
}

#cardContent div:nth-child(2) .divO div:nth-child(1)
{
    width: 30%;
    margin-left: 5%;
    height: 100%;
}

#cardContent div:nth-child(2) .divO div:nth-child(2)
{
    width: 60%;
    margin-right: 5%;
    height: 100%;
}

#cardContent div:nth-child(2) .divO div:nth-child(2) p
{
    font-size: 0.9rem;
}

#cardContent h2
{
    font-size: 2.5rem;
    margin: 0;
    background: linear-gradient(90deg, #EF5DA8, #5D5DEF);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#cardContent h3
{
    font-size: 1.5rem;
    background: linear-gradient(90deg, #EF5DA8, #5D5DEF);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#cardContent div:nth-child(2) .divO div:nth-child(1) p
{
    font-size: 1.2rem;
}

/* ------------------------PAGE ERROR 404------------------- */
#errorB
{
    width: 100%;
    height: 90vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: "MondaReg";
}

#errorB div:nth-child(1)
{
    margin-top: 4vh;
    background: #000000;
    width: 60%;
    height: 17.5%;
    border: 2px solid;
    border-image: linear-gradient(to right, #EF5DA8, #5D5DEF) 1 1 1 1;
}

#errorB h2
{
    width: 100%;
    height: 100%;
    text-align: center;
    background: linear-gradient(90deg, #EF5DA8, #5D5DEF);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 2rem;
}

#errorB div:nth-child(2)
{
    width: 100%;
    height: 77.5%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#errorB div:nth-child(2) img
{
    height: 100%;
}

/* ------------------------PAGE CREDITS------------------- */
.dev_img{
    width: 150px;
    height: 150px;
}

#about
{
    width: 95%;
    height: 85vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: "MondaReg";
    color: #e5e5e5;
}

#about h2
{
    height: 15%;
    color: #e5e5e5;
    margin: 0;
    font-size: 2.5rem;
    display: flex;
    align-items: center;
}
#credts{
    text-shadow: 2px 2px 5px rgb(49, 46, 46);
      -moz-text-shadow: 2px 2px 5px #2e2d2d;
      -webkit-text-shadow: 2px 2px 5px #2e2d2d;
      -khtml-text-shadow: 2px 2px 5px #2e2d2d;
}
#grid
{
    height: 85%;
    width: 100%;
    display: flex;
    justify-content: center;
}

#grid div
{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 33%;
    height: 100%;
}

#grid div img
{
    height: 30%;
    border-radius: 80px;
}

#grid div h3, #grid div p
{
    margin: 0%;
    margin-top: 2%;
}

#grid div h3
{
    font-size: 1.75rem;
}

#grid div span
{
    background: linear-gradient(90deg, #EF5DA8, #5D5DEF);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 1.25rem;
}
#grid div p
{
    width: 50%;
    background: #000000;
    border: 2px solid;
    border-image: linear-gradient(to right, #EF5DA8, #5D5DEF) 1 1 1 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

#grid div .link
{
    margin-top: 20px;
    width: 40%;
    height: 10%;
    display: flex;
    flex-direction: row;
}

#grid div .link a
{
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#grid div .link a img
{
    height: 75%;
    border-radius: 0;
    transform: scale(1);
    transition: 0.5s;
}

#grid div .link a:hover
{
    cursor: pointer;
}

#grid div .link a:hover img
{
    transform: scale(1.5);
}


/* ----------------------------------STYLE CONTENU FIN------------------------------ */

/* ----------------------------------STYLE FOOTER DEBUT------------------------------ */

footer
{
    width: 100%;
    height: 15vh;
    background-color: #000000;
    color: azure;
    justify-self: flex-end;
    font-family: "MondaReg";
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid #2e2d2d;
    box-shadow: 2px 2px 5px rgb(49, 46, 46);
      -moz-box-shadow: 2px 2px 5px #2e2d2d;
      -webkit-box-shadow: 2px 2px 5px #2e2d2d;
      -khtml-box-shadow: 2px 2px 5px #2e2d2d;
}

footer p:nth-child(1)
{
    height: 37.5%;
    margin: 0;
    margin-top: 2%;
}

footer a
{
    height: 57.5%;
    margin: 0;
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #e5e5e5;
    transform: translateY(0%);
    transition: 0.5s;
}

footer a img
{
    height: 60%;
}

footer a p
{
    margin: 0;
   
}

footer a:hover
{
    background: linear-gradient(90deg, #EF5DA8, #5D5DEF);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transform: translateY(-10%);
}

/* ----------------------------------STYLE FOOTER FIN------------------------------ */