@font-face {
    font-family: "MondaReg";
    src: url(./font/Monda-Regular.ttf);
}

@font-face {
    font-family: "MondaBold";
    src: url(./font/Monda-Bold.ttf);
}

body
{
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
    background-image: url(./images/fond.png);
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50%;
}
/* ----------------------------------STYLE HEADER DEBUT------------------------------ */
header
{
    width: 100%;
    height: 15vh;
    background-color: #000000;
    color: #e5e5e5;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: "MondaReg" ;
    position: fixed;
    z-index: 1000;
}

header div
{
    display: flex;
    height: 100%;
    width: 35%;
    align-items: center;
    justify-content: flex-start;
}

header ul
{
    display: flex;
    height: auto;
    width: 50%;
    align-items: center;
    justify-content: space-around;
}

#logo
{
    height: 80%;
    margin-left: 2vw;
}

h1{
    font-size: 2.5rem;
    margin-left: 1vw;
}

header ul li
{
    list-style: none;
    width: 33.3333333333333%;
    display: flex;
    align-items: center;
    justify-content: center;
}

header ul li a
{
    text-decoration: none;
    font-size: 1.2rem;
    color: #e5e5e5;
    text-align: center;
}

header ul li a:after {
    bottom: 0;
    content: "";
    display: block;
    height: 2px;
    background: linear-gradient(90deg, #EF5DA8, #5D5DEF);
    margin-left: 50%;
    transition: 0.5s;
    width: 0;
  }
  header ul li a:hover:after { 
    width: 100%;
    margin-left: 0%;
  }

#there
{
    background: linear-gradient(90deg, #EF5DA8, #5D5DEF);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transform: 1sec;
}

#big, #search
{
    margin-top: 15vh;
}

header ul li a:hover
{
    cursor: pointer;
}

/* ----------------------------------STYLE HEADER FIN------------------------------ */



/* ----------------------------------STYLE CONTENU DEBUT------------------------------ */

/* -----------------------------ACCEUIL------------------ */

/* ---------SECTION GRANDE AFFICHE--------- */
#big
{
    width: 95%;
    height: 50vh;
    display: flex;
}

#big img
{
    width: auto;
    height: 100%;
}

#big div
{
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

/* -----------CARROUSSEL-------- */

.container {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
}
.slider {
    height: 20vh;
    width: 95%;
    margin: auto;
    display: flex;
    font-family: "Ubuntu", sans-serif;
    text-align: center;
    color: white;
    justify-content: center;
    align-items: center;
}
.slider .slide {
    width: 25%;
    height: 100%;
    background: transparent;
    display: none;
}
.slider .slide:nth-child(1) {
    display: block;
}
.slider .slide:nth-child(2) {
    display: block;
}
.slider .slide:nth-child(3) {
    display: block;
}


.container button
{
    width: 5%;
    height: 25%;
    font-size: 2rem;
    border-radius: 100%;
}

.slide img
{
    height: 100%;
    box-shadow: 0px 15px 10px -10px lightgray;
}

/* --------------------PAGE RECHERCHE-------------- */

input
{
    width: 80%;
    height: 5vh;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    background-color: #121212;
    color: #e5e5e5;
    outline: none;
    font-family: "MondaReg";
    text-align: center;
    position: fixed;
    z-index: 1000;
    border: none;
    transition: 0.5s;
}

input:hover
{
    background-color: #2e2d2d;
}

#listFilm
{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20vh;
    width: 75%;
}

.listDiv
{
    margin-top: 30px;
    width: 95%;
    height: 25vh;
    display: flex;
    border-width: 4px;
    border-style: solid;
    border-image: linear-gradient(to left, #EF5DA8, #5D5DEF) 30;
    color: #e5e5e5;
    font-family: "MondaReg";
    transition: 0.75s;
    transform: scale(1);
    z-index: 100;
    justify-content: center;
    align-items: center;
}

.listDiv img
{
    height: 100%;
}

.listDiv .spanSearch
{
    font-weight: 100;
    font-size: 1.5rem;
}

.listDiv div
{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.listDiv p
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 0;
    margin-bottom: 0;
    width: 100%;
    font-weight: 1000;
}

.listDiv button
{
    width: 20%;
    position: absolute;
    height: 20%;
    text-align: center;
    background: #000000;
    transform: scale(0);
    transition: 0.75s;
    border: 2px solid;
    border-image: linear-gradient(to right, #EF5DA8, #5D5DEF) 1 1 1 1;
}

.listDiv:hover button:hover
{
    transform: scale(1.2);
    cursor: pointer;
    background: #121212;
}

.listDiv:hover button
{
    transform: scale(1);
}

.listDiv button p
{
    background: linear-gradient(90deg, #EF5DA8, #5D5DEF);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    justify-content: center;
}

.listDiv button span
{
    font-weight: bold;
    font-size: 1.5rem;
}

.listDiv span
{
    margin-left: 1vw;
    margin-right: 1vw;
}

.listDiv:hover
{
    transform: scale(1.2);
}

/* ----------------------------------STYLE CONTENU FIN------------------------------ */

footer
{
    width: 100%;
    height: 10vh;
    background-color: #000000;
    color: azure;
}

